.hidden {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  background-color: #fff;
  color: #434455;
  font-family: "roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
ul {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

/* hidden h2 in  section features */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* common */

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* #region header  */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-nav,
.address {
  display: none;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 16px 0;
  display: block;
}
.logo:hover,
.logo:focus {
  color: #404bbf;
}

.logo-span {
  color: #4d5ae5;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: 120px;
    padding: 24px 0;
  }

  .page-nav {
    display: flex;
    gap: 40px;
  }

  .page-nav .link {
    font-weight: 500;
    font-size: 16px;
    color: #2e2f42;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .page-nav .link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transform: scale(0);
    transform-origin: center;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .page-nav .link:hover::after,
  .page-nav .link:focus::after {
    transform: scale(1);
  }
  .page-nav .link.current::after {
    transform: scale(1);
  }
  .page-nav .link.current {
    color: #404bbf;
  }

  .address {
    display: block;
  }

  .contact {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }

  .contact .link {
    font-style: normal;
    color: #434455;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.16;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact .link:hover,
  .contact .link:focus,
  .page-nav .link:hover,
  .page-nav .link:focus,
  .page-nav .link:active,
  .logo:hover,
  .logo:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }

  .contact {
    flex-direction: row;
    gap: 40px;
  }

  .contact .link {
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }
}

/* #endregion HEADER */

/* HERO SECTION */

/* #region HERO */
.main-page {
  background-color: #2e2f42;

  padding: 72px 0;
  max-width: 320px;
  min-height: 432px;

  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    image-set(
      url(../images/hero-image-m.jpg) 1x,
      url(../images/hero-image-m@2x.jpg) 2x
    );
}
.main-page .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-page-text {
  font-weight: 700;
  font-size: 36px;
  color: #fff;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 216px;
  margin-bottom: 72px;
}

.main-page-button {
  background-color: #4d5ae5;
  padding: 16px 32px;
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-page-button:hover,
.main-page-button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .main-page {
    max-width: 768px;
    min-height: 436px;
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      image-set(
        url(../images/hero-image-t.jpg) 1x,
        url(../images/hero-image-t@2x.jpg) 2x
      );
  }

  .main-page-text {
    font-size: 56px;
    max-width: 496px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .main-page {
    max-width: 1440px;
    min-height: 600px;
    padding: 188px 0;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      image-set(
        url(../images/hero-image.jpg) 1x,
        url(../images/hero-image@2x.jpg) 2x
      );
  }

  .main-page-text {
    margin-bottom: 48px;
  }
}

/* #endregion HERO */

/* #region FEATURES */

.icon {
  display: none;
}

.features {
  padding: 96px 0;
}

.features-items {
  display: flex;
  row-gap: 72px;
  flex-wrap: wrap;
}

.features-items-title {
  font-weight: 700;
  font-size: 36px;
  color: #2e2f42;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.features-describe {
  color: #434455;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .features-items {
    column-gap: 24px;
  }

  .features-items li {
    width: calc((100% - 24px) / 2);
  }

  .features-items-title {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .icon {
    display: block;
  }
  .features {
    padding: 120px 0;
  }

  .features-items {
    flex-wrap: nowrap;
  }

  .features-items li {
    width: calc((100% - (24px * 3)) / 4);
  }
  .features-icon {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 8px;
  }

  .features-items-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .features-describe {
    font-weight: 400;
  }
}

/* #endregion  FEATURES */

/* #region TEAM */

.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  color: #2e2f42;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  padding-bottom: 72px;
}

.team-items {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
  justify-content: center;
}

.team-link {
  background-color: #fff;

  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-text-box {
  padding: 32px 16px;
}

.team-items-title {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}

.team-items-title-describe {
  color: #434455;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-list-icon {
  display: flex;
  column-gap: 24px;
}

.team-link-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link-icon:hover,
.team-link-icon:focus {
  background-color: #404bbf;
}

.team-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .team-items {
    column-gap: 24px;
    row-gap: 64px;
  }
}
@media screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }

  .team-items {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .team-link {
    flex-basis: calc((100% - (24px * 3)) / 4);
  }
}

/* #endregion TEAM */

/* #region PORTFOLIO  */

.portfolio {
  padding: 96px 0;
}

.portfolio-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  justify-content: center;
}

.portfolio-list-items {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-overlay-box {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  background: #4d5ae5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-items:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-overlay-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
}

.portfolio-text-box {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-items-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-items-describe {
  color: #434455;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    row-gap: 72px;
    column-gap: 24px;
  }
  .portfolio-list-items {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    row-gap: 48px;
    column-gap: 24px;
  }
  .portfolio-list-items {
    flex-basis: calc((100% - (24px * 2)) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: none;
  }
  .portfolio-list-items:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}
/* #endregion PORTFOLIO */

/* #region FOOTER */

.page-footer {
  padding: 96px 0;
  background-color: #2e2f42;
}
.footer-box {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
}

.footer-text-box {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  justify-content: center;
}

.footer-logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* display: block; */
}

.footer-description {
  color: #f4f4fd;
}

.footer-icon-box {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.icon-title {
  font-weight: 500;
  font-size: 16px;

  letter-spacing: 0.02em;
  color: #fff;
}

.footer-icon-list {
  display: flex;
  column-gap: 16px;
}

.footer-icon-link {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}

.subscribe {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.sub-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.form-sub-input {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  margin-bottom: 16px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: inherit;
  opacity: 0.3;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-sub-input:hover,
.form-sub-input:focus {
  border-color: #31d0aa;
}

.form-sub-input::placeholder {
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  opacity: 0.6;
  padding: 8px 16px;
}

.form-sub-button {
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  text-align: center;
  border: none;
  background-color: #4d5ae5;
  color: #fff;
  padding: 8px 24px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-sub-button:hover,
.form-sub-button:focus {
  background-color: #31d0aa;
}
.icon-send {
  fill: #fff;
}

@media screen and (min-width: 768px) {
  /* .container.footer-cont {
    max-width: 584px;
    margin: 0 auto;
    padding: 0 16px;
  } */

  .footer-box {
    align-content: flex-start;
    column-gap: 24px;
    max-width: 584px;
    margin: 0 auto;
    padding: 0 16px;
  }

  .footer-text-box {
    max-width: 264px;
    justify-content: flex-start;
  }

  .footer-icon-box {
    align-content: flex-start;
    justify-content: flex-start;
  }

  .footer-icon-box {
    max-width: 208px;
  }

  .subscribe {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .form-sub-input {
    width: 264px;
    margin-bottom: 0;
    margin-right: 24px;
  }
  .form-sub {
    display: flex;
  }
}

@media screen and (min-width: 1158px) {
  .page-footer {
    padding: 100px 0;
  }

  .footer-box {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    margin: 0;
    max-width: none;
    padding: 0;
  }
  .footer-text-box {
    flex-wrap: nowrap;
    flex-direction: column;
    margin-right: 120px;
  }

  .footer-description {
    max-width: 264px;
  }

  .footer-icon-box {
    flex-wrap: nowrap;
    flex-direction: column;
    row-gap: 16px;
  }
  .subscribe {
    margin-left: auto;
  }
}

/* #endregion FOOTER */

/* #region mobile MENU */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 999999;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;

  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

/* close-button */
.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;

  line-height: 0;
  width: 24px;
  height: 24px;
  outline: none;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
  background-color: #404bbf;
}

.mobile-menu-close:hover .icon-close,
.mobile-menu-close:focus .icon-close {
  fill: #fff;
  border: none;
}

/* mobile-navigation */
.mobile-menu-nav {
  margin-bottom: auto;
}
.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.accent {
  color: #404bbf;
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: #404bbf;
}

.mobile-menu-contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.mobile-menu-contacts-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.accent-tel {
  color: #4d5ae5;
}

.mobile-menu-contacts-link:hover,
.mobile-menu-contacts-link:focus {
  color: #4d5ae5;
}

.mobile-menu-social {
  display: flex;
  gap: 40px;
}
.mobile-menu-social-item {
  flex-basis: calc((100% - 120px) / 4);
}
.mobile-menu-social-link {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-social-link:hover,
.mobile-menu-social-link:focus {
  background-color: #404bbf;
}
.mobile-menu-social-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* #endregion MOBILE MENU */
