.hidden {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  background-color: #fff;
  color: #434455;
  font-family: "roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
ul {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

/* hidden h2 in  section features */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* common */

.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* header  */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-nav,
.address {
  display: none;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 16px 0;
  display: block;
}
.logo:hover,
.logo:focus {
  color: #404bbf;
}

.logo-span {
  color: #4d5ae5;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: 120px;
    padding: 24px 0;
  }

  .page-nav {
    display: flex;
    gap: 40px;
  }

  .page-nav .link {
    font-weight: 500;
    font-size: 16px;
    color: #2e2f42;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .page-nav .link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transform: scale(0);
    transform-origin: center;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .page-nav .link:hover::after,
  .page-nav .link:focus::after {
    transform: scale(1);
  }
  .page-nav .link.current::after {
    transform: scale(1);
  }
  .page-nav .link.current {
    color: #404bbf;
  }

  .address {
    display: block;
  }

  .contact {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }

  .contact .link {
    font-style: normal;
    color: #434455;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.16;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact .link:hover,
  .contact .link:focus,
  .page-nav .link:hover,
  .page-nav .link:focus,
  .page-nav .link:active,
  .logo:hover,
  .logo:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }

  .contact {
    flex-direction: row;
    gap: 40px;
  }

  .contact .link {
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }
}
